/*.characterPicture {
    width: 250px;
    height: 260px;
    border: green solid 3px;
    text-align: center;

}*/




body { 
background: url(../images/westworld-background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body{
	color: white;
}

#jumbo {
	
	background: rgba(50, 54, 57, 0.25);
}

#instructionHeader{
	border-radius: 25px;
}

#yourHeroBox{
	background: rgba(50, 54, 57, 0.50);
	border-radius: 25px;
}

#yourEnemyBox{
	background: rgba(50, 54, 57, 0.50);
	border-radius: 25px;
}

.initialCharacter{
	background: rgba(50, 54, 57, 0.50);
	box-sizing: border-box;
	width: 250px;
    height: 260px;
    border: black solid 3px;
    text-align: center;
    margin: 10px;
}

.playerSelectedChar {
	background: rgba(50, 54, 57, 0.50);
	box-sizing: border-box;
	width: 250px;
    height: 260px;
    border: green solid 3px;
    text-align: center;
}

.futureEnemy{
	background: rgba(50, 54, 57, 0.50);
	box-sizing: border-box;
	width: 250px;
    height: 260px;
    border: red solid 3px;
    text-align: center;
    margin: 10px;
}

.currentEnemy{
	background: rgba(50, 54, 57, 0.50);
	box-sizing: border-box;
	width: 250px;
    height: 260px;
    border: red solid 3px;
    text-align: center;
}
